@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

a{
    color: var(--primary-purple);
}

:root{
    --primary-white: #e8e6e3;
    --secondary-white: #D2D4DA;
    --primary-purple: #5b467d;
    --primary-activated: #3880ff;
}

/* ion-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
} */

@keyframes ionLabel {
    0% {
        color: #FFF;
    } 
    100% {
        color: var(--primary-activated)
    }
}

.high-emphasis{
    opacity: 87% !important;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
    color: var(--primary-white);
}
.buildingCategory span{
    color: var(--secondary-white);
}

body { margin: 0; font-family: 'Poppins', sans-serif; }
canvas{width: 100%; height: 100%;}
.sidebar{
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 50px;
    z-index: 999;
    display: none;
}
.blockInfoSidebar {
    width: 0px;
    height: 100%;
    position: fixed;
    right: 0;
    overflow: hidden;
    z-index: 999;
}
.main-logo{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.sidebar-container{
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}
.blockInfo p{
    font-size: 14px;
    color: var(--secondary-white);
    white-space: normal;
    width: 315px;
}
.blockInfo{
    white-space: nowrap;
}
.blockName {
    margin-bottom: 5px;
    font-weight: bold;
}
html{
    background-color: #181a1b !important;
}
.progress-area,
.blockInfoSidebar{
    background: linear-gradient(225deg, rgba(60,42,84,255) 0%, #1d1328 100%);
}
.progress-area,
.begin-area{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-area span{
    color: var(--primary-white)
}
.begin-area{
    z-index: 999;
}
.title-discover{
    font-weight: bold;
    color: var(--primary-purple);
}
.main-title h1{
    font-size: xxx-large;
    font-weight: bold;
    margin: 10px 0px;
}
.title-discover,
.main-title h1{
    transform: translateY(15px);
    opacity: 0;
}
.button-area{
    margin-top: 20px;
}
canvas{
    filter: blur(7px);
    opacity: 0;
    transition: .5s;
}
.menu-icon{
    text-align: center;
    padding-top: 10px;
}
.ion{
    color: var(--secondary-white);
    font-size: 25px;
    cursor: pointer;
    pointer-events: none;
    opacity: 50%;
}
.progress {
    transition: .3s ease all !important
}
.btn {
    opacity: 0;
}
.version {
    position: absolute;
    color: var(--primary-white);
    bottom: 0;
    right: 0;
    z-index: 999;
}
.github {
    color: var(--secondary-white); 
    font-size: 25px; 
    cursor: pointer; 
}
.menu-icon a{
    display: flex;
    justify-content: center;
}
.ion-app {
    opacity: 0;
    transition: .5s;
}
.blockTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blockTitle i {
    font-size: 30px;
    color: var(--primary-white);
}
@media (max-width: 768px) {
    .main-title h1 {
        font-size: xx-large;
    }
    .sidebar {
        display: flex !important;
        height: 50px;
        width: 100%;
        align-items: center
    }
    .main-logo {
        padding: 0px 30px;
        display: flex;
        justify-content: center;
    }
    .menu-icon {
        text-align: center;
        padding-top: 0px;
        padding-right: 15px;
        align-items: center;
        display: flex;
    }
    .blockInfoSidebar {
        margin-top: 50px;
    }
}
@media (max-width: 425px) {
    .main-title h1 {
        font-size: x-large;
    }
}

.fa-circle-dot:before, .fa-dot-circle:before {
    color: var(--primary-white);
    animation: ionLabel 2s ease-in-out infinite alternate;
    cursor: pointer;
}

.fa-circle-dot:hover::before {
    color: var(--primary-activated) !important;
}
